body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
    "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

.ui.basic.blue.button:hover,
.ui.basic.blue.buttons .button:hover {
  background: #0000000e !important;
  box-shadow: 0 0 0 1px #1678c2 inset !important;
  color: #1678c2 !important;
}
